#left_content{
    display: block;
    position: absolute;
    width: 30%;
    height: 100%;
}
#right_content{
    display: block;
    position: absolute;
    margin-left: 75%;
    margin-top: -34%;
    width: 30%;
    height: 100%;
}